# Bỏ qua thư mục chứa dữ liệu khởi tạo
resource/
mysql_data/


qlytbi/HELP.md
qlytbi/target/
qlytbi/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
qlytbi/.apt_generated
qlytbi/.classpath
qlytbi/.factorypath
qlytbi/.project
qlytbi/.settings
qlytbi/.springBeans
qlytbi/.sts4-cache

### IntelliJ IDEA ###
qlytbi/.idea
qlytbi/*.iws
qlytbi/*.iml
qlytbi/*.ipr

### NetBeans ###
qlytbi/nbproject/private/
qlytbi/nbbuild/
qlytbi/dist/
qlytbi/nbdist/
qlytbi/.nb-gradle/
qlytbi/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
